<div class="middle">
  <mat-card class='card'>
    <mat-card-header class='header'>
      <mat-card-title class='title'>LOGIN PAGE</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]='email'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type='password' [(ngModel)]='password'>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)='loginWithEmail()'>Login</button>
    </mat-card-actions>
  </mat-card>

  <div class='login'>
    <a [routerLink]="['/signup']" (click)='clearLogEmail()'>CREATE A NEW ACCOUNT</a>
  </div>

</div>

<router-outlet></router-outlet>