.checking {
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: center;
  width: 35%;
}

.checkingHeader {
  font-size: 3vw;
  text-align: center;
}

.logout {
  position: absolute;
  top: 67%;
  left: 15%;
}

.saving {
  position: absolute;
  top: 25%;
  left: 52%;
  text-align: center;
  width: 35%;
}

.savingsHeader {
  font-size: 3vw;
  text-align: center;
}

.banner {
  position: absolute;
  top: 2%;
  left: 15%;
  width: 72%;
  background: rgba(106,201,207, 0.3);
  font-size: 4vw;
  height: 20%;
  border-radius: 5px;
  box-shadow: 1px 1px;
  display: table; 
  overflow: hidden;
}

.textBanner {
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #074138;
}

.amounts {
  font-size: 80px;
  margin: 10px 0px 10px 0px;
}

.descriptions {
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
}